<!DOCTYPE html>
<html>
  <head>
    <title>BaseNew</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

   <header>
    <div class="nav-bar">
        <%= link_to "Back to Home", "/" %>
        <%= link_to "Studios", studios_path %>
        <%= link_to 'Movies', studio_movies_path %>
        <%= link_to 'Actors', actors_path %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
